.home__container {
  width: 1000px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  height: calc(100vh - 90px);
}

.home__header {
  width: 100%;
  font-family: "Lora", serif;
}

.home__title {
  font-size: 70px;
  line-height: 70px;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.home__title span {
  position: relative;
}

.home__description span {
  position: relative;
  opacity: 0.5;
}

.home__description {
  font-size: 25px;
  line-height: 32px;
  overflow: hidden;
}

@media only screen and (max-width: 1000px) {
  .home__container {
    width: 100%;
    padding: 0 20px;
  }
  .home__title {
    font-size: 45px;
    line-height: 50px;
  }
  .home__description {
    font-size: 20px;
    line-height: 30px;
  }
}
